.sidebar-primary-items__end {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}
h1 { font-weight: normal;}
h2 { font-weight: normal;}
h3 { font-weight: normal;}
h4 { font-weight: normal;}
h5 { font-weight: normal;}
h6 { font-weight: normal;}