.sidebar-primary-items__end {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}
h1 { font-weight: normal;}
h2 { font-weight: normal;}
h3 { font-weight: normal;}
h4 { font-weight: normal;}
h5 { font-weight: normal;}
h6 { font-weight: normal;}

img {
  /* Fix bug in dark mode. */
  background-color: transparent !important;
}

img {
  /* Fix this weird style
  html[data-theme=dark] img:not(.only-dark,.dark-light) {
    filter: brightness(.8) contrast(1.2);
  }*/
  filter: none !important;
}